
<style>
    .navbar{
        height:55px;
    }
    .navbar a{
        text-decoration:none;
        color:white;
        padding:10px;
    }
    .navbar a:hover{
        background-color:white;
        color:black;
    }
    @media  (max-width:380px) {
        
        .big_heading{
            display:none;
        }
    }
</style>
<div class="navbar bg-dark bg-gradient">
    <span class="big_heading" style="color:white; font-size:20px; padding-top:-2px;">&nbsp;&nbsp; covid.help.com</span>
    <div>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact us</a>
    </div>
</div>